{% layout settings.customer_layout %}

<div class="sixteen columns clearfix collection_nav">
<<<<<<< HEAD
  <h1 class="center">{{ 'customer.register.title' | t }}</h1>
  <div class="feature_divider"></div>
</div>

<div class="section clearfix">
  <div class="six columns offset-by-five">
    <br class="clear" />
=======
  <h1 class="center">Create Account</h1>
  <div class="feature_divider"></div>
</div>


<div class="clearfix" id="customer">
  <br class="clear" />
  <div class="one-third column">
    &nbsp;
  </div>
  <div class="six columns" id="login_form">
>>>>>>> GitHub/master
    <div id="customer">
      <!-- Create Customer -->
      <div id="create-customer">

        {% form 'create_customer' %}
          {{ form.errors | default_errors }}

          <div id="first_name" class="clearfix large_form">
<<<<<<< HEAD
            <label for="first_name" class="login">{{ 'customer.register.first_name' | t }}</label>
=======
            <label for="first_name" class="login">First Name</label>
>>>>>>> GitHub/master
            <input type="text" value="" name="customer[first_name]" id="first_name" class="large" size="30" />
          </div>

          <div id="last_name" class="clearfix large_form">
<<<<<<< HEAD
            <label for="last_name" class="login">{{ 'customer.register.last_name' | t }}</label>
=======
            <label for="last_name" class="login">Last Name</label>
>>>>>>> GitHub/master
            <input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" />
          </div>

          <div id="email" class="clearfix large_form">
<<<<<<< HEAD
            <label for="email" class="login">{{ 'customer.register.email' | t }}</label>
=======
            <label for="email" class="login">Email Address</label>
>>>>>>> GitHub/master
            <input type="email" value="" name="customer[email]" id="email" class="large" size="30" />
          </div>

          <div id="password" class="clearfix large_form">
<<<<<<< HEAD
            <label for="password" class="login">{{ 'customer.register.password' | t }}</label>
=======
            <label for="password" class="login">Password</label>
>>>>>>> GitHub/master
            <input type="password" value="" name="customer[password]" id="password" class="large password" size="30" />
          </div>

          <div class="action_bottom">
<<<<<<< HEAD
            <input class="btn action_button" type="submit" value="{{ 'customer.register.sign_up' | t }}" />
            <p class="right" style="padding-top: 8px;">
              {{ 'customer.register.returning_customer_label' | t }} {{ 'customer.register.sign_in_html' | t | customer_login_link }}
            </p>
          </div>

=======
            <input class="action_button" type="submit" value="Sign Up" />
            <p class="right" style="padding-right: 15px; padding-top: 10px;">
              Returning Customer? {{ "Sign In &rarr;" | customer_login_link }}
            </p>
          </div>
>>>>>>> GitHub/master
        {% endform %}
      </div><!-- /#create-customer -->
    </div>
  </div>
</div>
<<<<<<< HEAD
=======

<br class="clear" />
<br class="clear" />
>>>>>>> GitHub/master
